<html>
<head>
<title>
Drone test
</title>
</head>
<body bgcolor=e5e5d0>
Drone test
<p>

<!-- -------------------------------------------------------------- -->

<img src="http://%HOST%:%PORT%">

<!-- -------------------------------------------------------------- -->

</body>
</html>
